solAritmetica/UTaritmetica/Connected Services/srvAritmetica/WSaritmetica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAritmetica" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAritmetica" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsAritmetica">
    <xs:sequence>
      <xs:element minOccurs="0" name="numeroA" type="xs:int" />
      <xs:element minOccurs="0" name="numeroB" type="xs:int" />
      <xs:element minOccurs="0" name="respuesta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAritmetica" nillable="true" type="tns:clsAritmetica" />
</xs:schema>